<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link th:href="@{/css/bootstrap.min.css}"
          href="../css/bootstrap.min.css" rel="stylesheet">
    <style>
        .col {
            margin-left: 10px;
        }
    </style>
</head>
<body>

<div class="container" style="max-width: 600px">
    <div class="py-5 text-center">
        <h2>상품 목록</h2>
    </div>

    <h2 th:if="${nullStatus}">저장된 아이템이 없습니다.</h2>

    <div class="row">
        <div class="col">
            <button class="btn btn-primary float-end"
                    onclick="location.href='addForm.html'"
                    th:onclick="|location.href='@{/item/add}'|"
                    type="button">상품 등록
            </button>
        </div>
    </div>

    <hr class="my-4">
    <div>
        <table class="table">
            <thead>
            <tr>
                <th>ID</th>
                <th>상품명</th>
                <th>가격</th>
                <th>수량</th>
                <th>URL</th>
            </tr>
            </thead>

            <tbody>
            <tr th:each="item : ${items}">
                <td><a href="item.html" th:href="@{/item/item?search-item={itemId}(itemId=${item.id})}"
                       th:text="${item.id}">회원id</a></td>
                <td><a href="item.html" th:href="@{/item/item?search-item={itemId}(itemId=${item.id})}"
                       th:text="${item.itemName}">상품명</a></td>
                <td th:text="${item.price}">99999</td>
                <td th:text="${item.quantity}">99</td>
                <td th:text="${item.buyUrl}">test@test.com</td>
            </tr>
            </tbody>
        </table>
        <div class="row">
            <div class="col">
                <button class="btn btn-primary float-end"
                        onclick="location.href='/login/loginForm.html'"
                        th:onclick="|location.href='@{/logout}'|"
                        type="button">로그아웃
                </button>
            </div>
        </div>
    </div>
</div>
<!-- /container -->
</body>
</html>
