<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link th:href="@{/css/bootstrap.min.css}"
          href="../css/bootstrap.min.css" rel="stylesheet">
    <style>
        .col {
            margin-left: 10px;
        }
    </style>
</head>
<body>
<div th:replace="/common/header" th:remove="tag"></div>

<section>
<div class="container" style="max-width: 600px">
    <div class="py-5 text-center">
        <h2>상품 목록</h2>
    </div>

    <div class="row">
        <div class="col">
            <button class="btn btn-primary float-end"
                    onclick="location.href='addForm.html'"
                    th:onclick="|location.href='@{/item/add}'|"
                    type="button">상품 등록
            </button>
        </div>
    </div>

    <hr class="my-4">
    <div class="row">
        <div class="table">
            <input type="text" id="keyword" name="keyword" class="text-black-50" placeholder="상품명 입력">
            <button class="btn-dark" th:onclick="getItems(1)">검색</button>
        </div>
    </div>

    <hr class="my-4">
    <div id="itemList">
    </div>
</div>
</section>
<div th:replace="/common/footer" th:remove="tag"></div>

<script type="text/javascript" th:src="@{/js/jquery-3.6.1.min.js}"></script>
<script type="text/javascript" th:src="@{/js/items.js}"></script>
</body>
</html>
