<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div id="itemList">
    <h2 th:if="${nullStatus}" th:text="#{nullStatus}"></h2>
    <h2 th:if="${normalStatus}" th:text="#{normalStatus( ${itemsLength} )}"></h2>

    <table class="table">
        <thead>
        <tr>
            <th>ID</th>
            <th>상품명</th>
            <th>가격</th>
            <th>수량</th>
            <th>URL</th>
            <th>변경일</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="item : ${items}">
            <td><a href="item.html" th:href="@{/item/item?search-item={itemId}(itemId=${item.id})}"
                   th:text="${item.id}">아이템id</a></td>
            <td><a href="item.html" th:href="@{/item/item?search-item={itemId}(itemId=${item.id})}"
                   th:text="${item.itemName}">상품명</a></td>
            <td th:text="${{item.price}}">99999</td>
            <td th:text="${{item.quantity}}">99</td>
            <td th:text="${item.buyUrl}">test@test.com</td>
            <td th:text="${{item.lastUpdateDate}}">2022/10/02 10:18</td>
        </tr>
        </tbody>
    </table>

    <div class="page-item">
            <span th:each="page : ${pages}">
                <a th:text="${page}"
                   th:onclick="|getItems(${page})|"></a>
            </span>
    </div>
    <hr class="my-4">

    <div class="row">
        <div class="col">
            <button class="btn btn-primary float-end"
                    onclick="location.href='/index.html'"
                    th:onclick="|location.href='@{/}'|"
                    type="button">메인으로
            </button>
        </div>
    </div>
</div>

</html>