<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <link href="../css/bootstrap.min.css"
          th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <style>
        .container {
            max-width: 480px;
        }

        .err-message {
            border-color: #dc3545;
            color: #dc3545;
        }

    </style>

    <title>회원가입</title>
</head>
<body>
<div class="container">
    <div class="py-5 text-center">
        <h2>회원가입</h2>
        <form action="joinForm.html" method="post" th:action="@{/join}" th:object="${user}">
            <div>
                <label for="userId"></label>
                <input type="text" id="userId" name="userId" th:field="*{userId}" th:errorclass="err-message"
                       class="form-control"
                       placeholder="아이디">
                <span class="err-message" th:errors="*{userId}">id Error!</span>
            </div>
            <div>
                <label for="userPw"></label>
                <input type="password" id="userPw" name="userPw" th:field="*{userPw}" th:errorclass="err-message"
                       class="form-control"
                       placeholder="비밀번호">
                <span class="err-message" th:errors="*{userPw}">pw Error!</span>
            </div>
            <div>
                <label for="userPw"></label>
                <input type="text" id="userName" name="userName" th:field="*{userName}" th:errorclass="err-message"
                       class="form-control"
                       placeholder="이름">
                <span class="err-message" th:errors="*{userName}">name Error!</span>
            </div>

<!--            있는 아이디일 경우 체크하기-->
            <div th:if="${#fields.hasGlobalErrors()}">
                <p class="err-message" th:each="err : ${#fields.globalErrors()}" th:text="${err}">user is already
                    Exist!</p>
            </div>

            <hr class="my-4">
            <div class="row">
                <div class="col">
                    <button class="w-100 btn btn-primary btn-lg" onclick="location.href='joinForm.html'"
                            type="submit">가입
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
</body>
</html>