<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link href="../css/bootstrap.min.css"
          th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
</head>
<body>
<div th:replace="/common/nav" th:remove="tag"></div>

<div class="container" style="max-width: 600px">
    <div class="py-5 text-center">
        <h2 th:text="| ${status} 오류 발생|">오류발생</h2>
    </div>
    <hr class="my-4">
    <ul>
        <li>오류 정보</li>
        <ul>
            <li th:text="|path: ${path}|"></li>
            <li th:text="|message: ${message}|"></li>
            <li th:text="|error: ${error}|"></li>
            <li th:text="|timestamp: ${timestamp}|"></li>
        </ul>
        </li>
    </ul>
    <hr class="my-4">
    <div class="py-5 text-center">
        <h2>시스템 담당자에게 문의하세요</h2>
        <p>담당자 JM / Tel) 010-1111-1111</p>
    </div>
</div>
<div th:replace="/common/footer" th:remove="tag"></div>
</body>
</html>