<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="../css/bootstrap.min.css"
          th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <style>
        .container {
            max-width: 480px;
        }
    </style>
    <title>메인페이지</title>
</head>
<body>
<div class="container">
    <div class="py-5 text-center">
        <h2>메인페이지</h2>
        <div>
            <h3 th:text="|${accountName} 님 로그인 중 입니다.|"></h3>
        </div>
        <hr class="my-4">
        <div class="row">
            <div class="col">
                <button class="w-100 btn btn-primary btn-lg"
                        th:onclick="|location.href='@{/logout}'|">로그아웃</button>
            </div>
            <div class="col">
                <button class="w-100 btn btn-primary btn-lg"
                        onclick="location.href='/item/items.html'"
                        th:onclick="|location.href='@{/item/items}'|">아이템 목록</button>
            </div>
        </div>
    </div>
</div>

</body>
</html>