<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="../css/bootstrap.min.css"
          th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <style>
        .container {
            max-width: 480px;
        }
    </style>
    <title>메인페이지</title>
</head>
<body>
<div class="container">
    <div class="py-5 text-center">
        <h2>로그인</h2>
        <div>
            <button th:href="|location.href='@/item/items}'|">아이템 목록</button>
        </div>
    </div>
</div>


</body>
</html>