<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <link href="../css/bootstrap.min.css"
          th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <style>
        .container {
            max-width: 480px;
        }

        .err-message {
            border-color: #dc3545;
            color: #dc3545;
        }

    </style>

    <title>로그인</title>
</head>
<body>
<div th:replace="/common/header" th:remove="tag"></div>

<section>
<div class="container">
    <div class="py-5 text-center">
        <h2>로그인</h2>
        <form action="loginForm.html" method="post" th:action="@{/login}" th:object="${account}">
            <div>
                <label for="accountId"></label>
                <input type="text" id="accountId" name="accountId" th:field="*{accountId}"
                       th:errorclass="err-message"
                       class="form-control" placeholder="아이디">
                <span class="err-message" th:errors="*{accountId}">id Error!</span>
            </div>
            <div>
                <label for="accountPw"></label>
                <input type="password" id="accountPw" name="accountPw" th:field="*{accountPw}" th:errorclass="err-message"  class="form-control"
                       placeholder="비밀번호">
                <span class="err-message" th:errors="*{accountPw}">pw Error!</span>
            </div>

            <div th:if="${#fields.hasGlobalErrors()}" >
                <p class="err-message" th:each="err : ${#fields.globalErrors()}" th:text="${err}">user are not Exist!</p>
            </div>

            <hr class="my-4">
            <div class="row">
                <div class="col">
                    <button class="w-100 btn btn-primary btn-lg" onclick="location.href='loginForm.html'"
                            type="submit">로그인
                    </button>
                </div>
            </div>
        </form>
        <hr class="my-4">
        <div class="col">
            <button class="w-100 btn btn-primary btn-lg" onclick="location.href='joinForm.html'"
                    th:onclick="|location.href='@{/join}'|">
                회원가입
            </button>
        </div>
    </div>
</div>
</section>

<div th:replace="/common/footer" th:remove="tag"></div>
</body>
</html>